# Ignorar archivos temporales de Python
*.pyc
__pycache__/

# Ignorar carpetas de entorno virtual
venv/
env/

# Ignorar archivos de configuración de tu editor
.vscode/
.idea/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db
imagenes
.env
